{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}Django Challenge Home{% endblock %}</title>
<link href="{% static 'user/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<!--theme-style-->
<link href="{% static 'user/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="User, Data, List, Django, Python" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--theme-style-->
<link href="{% static 'user/css/style4.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="header">
<div class="container">
		<div class="head">
			<div class=" logo">
				<a href="/"><img src="{% static 'user/images/logo.png' %}" alt="logo"></a>
			</div>
		</div>
	</div>
	<div class="header-top">
		<div class="container">


				<div class="clearfix"> </div>
		</div>
		</div>

		<div class="container">

			<div class="head-top">

		 <div class="col-sm-8 col-md-offset-2 h_menu4">
				<nav class="navbar nav_bottom" role="navigation">

 <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header nav_2">
      <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

   </div>
   <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav nav_1">
            <li><a class="color" href="/">Home</a></li>
            <li><a class="color6" href="{% url 'user:index' %}">List Users</a></li>
			<li><a class="color6" href="{% url 'user:user-add' %}">Add Users</a></li>
        </ul>
     </div><!-- /.navbar-collapse -->

</nav>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</div>

{% block body %}
{% endblock %}

    <!--//footer-->
    <div class="footer">
        <div class="footer-bottom">
            <div class="container">
                <p class="footer-class">&copy; 2016 DjangoChallenge. All Rights Reserved | By <a href="#">Elvis</a> </p>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--//footer-->

<script src="{% static 'user/js/jquery.min.js' %}"></script>
<script src="{% static 'user/js/bootstrap.min.js' %}"></script>
</body>
</html>
