{% extends 'user/base.html' %}
{% block body %}
    <div class="banner">
        <div class="container">
            <section class="rw-wrapper">
                <h1 class="rw-sentence">
                    <span>Users &amp; Data</span>
                    <div class="rw-words rw-words-1">
                        <span>&nbsp; Filter</span>
                        <span>&nbsp; Filter</span>
                        <span>&nbsp; Filter</span>
                    </div>
                    <div class="rw-words rw-words-2">
                        <span>First Django Test</span>
                        <span>Cool!</span>
                        <span>First Django Test</span>
                        <span>Cool!</span>
                        <span>First Django Test</span>
                        <span>Cool!</span>
                    </div>
                </h1>
            </section>
        </div>
    </div>
{% endblock %}