{% extends 'user/base.html' %}
{% load staticfiles %}
{% block body %}
    <!--banner-->
<div class="banner-top">
	<div class="container">
		<h1>List</h1>
		<em></em>
		<h2><a href="index.html">Home</a><label>/</label>List Users</a></h2>
	</div>
</div>
<div class="container" style="min-height: 430px">
	<div class="check-out">
	<div class="bs-example4" data-example-id="simple-responsive-table">
    <div class="table-responsive">
    	    <table class="table-heading simpleCart_shelfItem">
		  <tr>
			<th class="table-grid">Users</th>

			<th>Name</th>
			<th>Email Address </th>

		  </tr>
            {% if users %}
                {% for user in users %}
                    <tr class="cart-header">

                    <td class="ring-in"><a href="#" class="at-in"><img src="{% static 'user/images' %}/{% if user.gender == '1' %}ch2{% else %}ch{% endif %}.jpg" class="img-responsive" alt=""></a>
                    <div class="sed">
                        {% if user.gender == '1' %}Male{% else %}Female{% endif %}
                    </div>
                    </td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.email }}</td>
                  </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="3">No users yet!</td></tr>
            {% endif %}
	</table>
	</div>
	</div>
	<div class="produced">
	<a href="{% url 'user:user-add' %}" class="hvr-skew-backward">Add More +</a> <br />
	 </div>
    </div>
</div>
{% endblock %}