{% extends 'user/base.html' %}
{% block title %}Create New User{% endblock %}
{% block body %}
<!--banner-->
<div class="banner-top">
	<div class="container">
		<h1>Add</h1>
		<em></em>
		<h2><a href="/">Home</a><label>/</label>Add Users</a></h2>
	</div>
</div>
<!--login-->
<div class="container" style="min-height: 430px">
		<div class="login">
			<form action="" method="post">
            {% csrf_token %}
                <div class="col-md-offset-3 col-md-6 login-do">
                    {% include 'user/form_template.html' %}

                    <label class="hvr-skew-backward">
                        <input type="submit" value="Submit">
                    </label>

                </div>
			</form>
		</div>

</div>
{% endblock %}